.bold-text {
    font-weight: bold;
    font-size: 20px;
}

.progress-bar-container {
    margin-bottom: 20px;
    height: 30px;
}

.custom-progress-bar .progress-bar {
    font-size: 14px;
}

.circle-button {
    border-radius: 50%;
    padding: 20px 40px;
    font-size: 16px;
    text-align: center;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation: pulse 2s infinite;
    border: 2px solid #007bff;
    background-color: transparent;
    color: #007bff;
    transition: background-color 0.3s, color 0.3s;
}

.circle-button:hover {
    background-color: transparent !important;
    color: #007bff !important;
    outline: none;
    box-shadow: none;
    border: 2px solid #007bff;
}

.circle-button:focus,
.circle-button:active,
.circle-button:focus-visible {
    background-color: transparent !important;
    color: #007bff !important;
    outline: none;
    box-shadow: none;
    border: 2px solid #007bff;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 576px) {
    .bold-text {
        font-size: 16px;
    }

    .progress-bar-container {
        height: 25px;
    }

    .custom-progress-bar .progress-bar {
        font-size: 12px;
    }

    .circle-button {
        padding: 15px 30px;
        font-size: 14px;
        width: 120px;
        height: 120px;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding-bottom: 2rem;
}

.footer {
    padding: 1rem 0;
    background: #f8f9fa;
}

.custom-card-footer {
    text-align: left;
}

.custom-list {
    margin-left: 20px;
    padding-left: 0;
}

.custom-list li {
    margin-bottom: 5px;
    padding-left: 0;
    text-align: left;
}